<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubrikalar ro'yxati</title>
</head>
<body>
<div id="list">
<form  id="rubric_form" methot="post">
    <input type="hidden" name="id" id="id">
    <p>Nomi: <input name="name" id="name"></p>
    <p><input type="reset" value="o'chirish">
    <input type="submit" value="Saqlash"></p>
</form>
</div>    
</body>
</html>
<script type="text/javascript" src="rubrics.js"></script>